<header id="website-header">
    <a href="/" id="header-anchor">
        <div id="logo-container">
            <img src="img/anchor.svg" alt="DevUtil" class="flex-center" height="20">
        </div>
        <h1 id="header-title">DevUtil</h1>
    </a>
    <nav id="header-navbar">
        <a class="nav-link" href="/react">HTML to React</a>
    </nav>
</header>